.cx-selectField-wrapper {
    position: relative;
    max-width: 200px;
    width: 100%;
}

.cx-selectField-wrapper:after {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    pointer-events: none;
    background-repeat: no-repeat;
    background-image: url(../images/download.svg);
}

.cx-selectField {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid rgba(48,51,57,.15);
    border-radius: 2px;
    width: 100%;
    background-color: #fff;
    background-clip: padding-box;
    color: #000;
    line-height: 1.3em;
    outline: none;
    transition: border-color,background,box-shadow,color,fill .1s ease;
    padding: 10px;
    font-size: 16px;
    padding-right: 36px;
}

option{
	background: #f3f4f7;
	
}

option.option-hover:hover{
	background: red !important;
	color: #337588 !important;
	position: absolute;
	content: attr(title);
	width: 100%;
}