<div class="item col-sm-4 col-xs-12">
    <div class="image">
        <a data-fancybox-trigger="gallery245" href="javascript:;" target="_blank">
            <span style="background-image:url(//kienlua.vn/uploadtam/upload/2019-04-18_165713A_-19-04-2019-15-40-01.png)">
            </span>
        </a>
        <div class="ms">
            TT 102
        </div>
        <div class="use" title="Đã sử dụng">
            <i aria-hidden="true" class="fa fa-heart">
            </i>
            <span>
                342
            </span>
        </div>
    </div>
    <a class="fancybox" data-caption="" data-fancybox="gallery245" data-width="800" href="//kienlua.vn/uploadtam/upload/2019-04-18_165713_-19-04-2019-16-05-18.jpg">
    </a>
    <a class="fancybox" data-caption="" data-fancybox="gallery245" data-width="800" href="//kienlua.vn/uploadtam/upload/4_-19-04-2019-16-05-27.jpg">
    </a>
    <a class="fancybox" data-caption="" data-fancybox="gallery245" data-width="800" href="//kienlua.vn/uploadtam/upload/444_-19-04-2019-16-05-27.jpg">
    </a>
</div>