@import url('css/common.css');
@import url('css/layout.css');
@import url('css/page.css');
@import url('css/material-design-iconic-font.css');
input, textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0;
    font-family: 'harmonia', Arial, Helvetica, sans-serif;
}

html * {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: geometricPrecision;
}