<!DOCTYPE html>
<html>
<style>

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">

</script>
<body>
<table class="row fragment general" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: table; padding: 0;"><tbody><tr style="vertical-align: top; padding: 0;" align="left">
                <th class="small-12 large-6 columns first" style="width: 274px; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 20px; font-size: 14px; margin: 0 auto; padding: 10px 8px 10px 16px;" align="left" bgcolor="#f4f4f4"><table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;"><tbody><tr style="vertical-align: top; padding: 0;" align="left"><th style="color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 20px; font-size: 14px; margin: 0; padding: 0;" align="left">
                  
                  <a href="{{$70667}}" target="_blank" style="color: #000000; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 1.3; text-decoration: underline; margin: 0; padding: 0;">
                    <img class="small-float-center small-width-100" width="274" data-width="320" src="images/1_13 slide deck fragment.JPG" height="148" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; clear: both; display: block; border: none;">
                  </a>
                </th></tr></tbody></table></th>
                <th class="small-12 large-6 columns last" style="width: 274px; color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 20px; font-size: 14px; margin: 0 auto; padding: 10px 16px 10px 8px;" align="left" bgcolor="#f4f4f4"><table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; padding: 0;"><tbody><tr style="vertical-align: top; padding: 0;" align="left"><th style="color: #0a0a0a; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 20px; font-size: 14px; margin: 0; padding: 0;" align="left">
                  <h2 style="color: #005f89; font-family: Helvetica, Arial, sans-serif; font-weight: bold; line-height: 28px; word-wrap: normal; font-size: 22px; -moz-hyphens: none; -o-hyphens: none; -webkit-hyphens: none; -ms-hyphens: none; hyphens: none; margin: 0 0 10px; padding: 0;" align="left">
                        EASE trial results presented at 54<sup style="line-height: 0px; font-size: 0.7em;">th</sup> EASD 2018
                    </h2>
                  <p style="color: #000000; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 20px; font-size: 14px; -moz-hyphens: none; -o-hyphens: none; -webkit-hyphens: none; -ms-hyphens: none; hyphens: none; margin: 0 0 10px; padding: 0;" align="left">
                  </p>
</body>
</html>
